.tox/
myvenv/
__pycache__/
.pytest_cache/
.git/
.vscode/
new_practices/abstract_syntax_tree/classdef_practice.hy
new_practices/abstract_syntax_tree/setup.py
new_practices/abstract_syntax_tree/setup.cfg